{% extends "master.html.twig" %}

{% block title %} {{ "home"|trans }} {% endblock %}
{% block head %}   
    <!-- Bootstrap Core CSS -->
    <link href="/bootstrap/css/shop-item.css" rel="stylesheet">


    <!-- jQuery -->
    <script src="/js/cart_script.js"></script>

{% endblock %}


{% block content %}
    <div id="cartItems">
    {% if cartItems %}
   <table id="cartTable">
    <tr><th>#</th><th>{{"Product"|trans}}</th><th>{{"Item name"|trans}}</th>
        <th>{{"Unit price"|trans}}</th><th>{{"Quantity"|trans}}</th>
        <th>{{"Total"|trans}}</th> <th>{{"Calories"|trans}}</th><th></th></tr>
            {% for item in cartItems %}
        <tr><td>{{loop.index}}</td>
            <td><img class="img-responsive cartImage" src="data:image/png;base64,{{item.picture}}" alt="product image" width="75px !important"></td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td><input class="quanInput" type="number" value="{{item.quantity}}" style="width: 40px;"
                       itemPrice="{{item.price}}" itemID="{{item.ID}}" ></td>
            <td><span id="total">{{item.total}}</span></td>
            <td><span id="total">{{item.nutritionalValue}}</span></td>
            <td><button onclick="removeItem({{item.productID}})">{{"Remove from cart"|trans}}</button></td>
        </tr>
        
    {% endfor %}
</table>
<hr>
        <div id="totals">
        {{"Total Order"|trans}}: <span id="total">{{cartTotal}}</span><br><br><br>
        {{"Tax"|trans}}: <span id="tax">{{cartTax}}</span><br><br><br>
        {{"Total to pay at delivery"|trans}}: <span id="totalToPay">{{cartTotalToPay}}</span><br><br><br>
        </div>
        {% else %}
            <h4>No Products in the Cart Yet</h4>
            {% endif %}

    </div>
<a href="/" style="color:black;">{{"Ad more to cart"|trans}}==> </a>

        {% endblock %}  