<html>
    <body>
        <h1>Order Summary</h1>
        <h2>{{"Thank You for your order"|trans}}</h2>
        <h1>Order Details</h1>
        <div>
           
        </div>
             <div>
                 <hr>
            <h4>{{"Order Summary"| trans}}</h4>
            <p>Total value before tax: {{ totalBeforeTax }}.</p>
            <p>Taxes (GST/QST/HST) {{ taxes }}. </p>
            <p>{{"Final total to be paid at delivery"|trans}}:
                <b>{{ totalWithShippingAndTaxes }}</b>.</p>
        </div>
        <hr>
                    <a href="/" style="width: 200px; margin:auto; " class="btn btn-lg btn-primary btn-block" id="correctAddress">{{"Continue"|trans}}</a>


    </div>
    </body>
</html>
