<form method="POST">    
                <div id="left-side-addedit" style='position:relative; top: 20px; right: -200px;'>                     
                    <label>ID: </label>
                    <input type="number" name="productID" id="productID" value="{{p.productID}}"><br><br>
                    <label>Product name en: </label>
                    <input type="text" name="name_fr" value="{{p.name_en}}"><br><br>
                    <label>Product name fr: </label>
                    <input type="text" name="name_en" value="{{p.name_fr}}"><br><br>
                    <label>Category: </label>
                    <select id="categoryName">
                        {% for category in categoryList %}   
                            <option>{{category.categoryname}}</option>
                        {% endfor %}
                    </select><br><br>
                    <label>Price: </label>
                    <input type="text" name="price" value="{{p.price}}"><br><br>
                    <label>Nutritional value: </label>
                    <input type="text" name="nutritionalValue" value="{{p.nutritionalValue}}" ><br><br>
                    <label>Is vegetarian: </label>
                    {% set selected = false %}
        
            {% if p.isVegetarian == 1 %}
                {% set selected = true %}
            {% endif %}
                    <input type="checkbox" name="isVegetarian" value="{{p.isVegetarian}}"{% if selected %}checked{% endif %}><br><br>
                </div>
                <div id="right-side-addedit" style='position:relative; top: 120px; right: 200px;'>
                    <label  name="description" style="text-align: left; width:50px;">Description: </label><br>
                    <textarea  name="description_en" cols="62" rows="5">{{p.description_en}}</textarea><br><br>
                    <label  name="description" style="text-align: left; width:50px;">Description: </label><br>
                    <textarea  name="description_fr" cols="62" rows="5">{{p.description_fr}}</textarea><br><br>
                <div id="dvPreview">
                        <img name="picture" id="uploadImage" src="data:image/png;base64,{{p.picture}}"  alt="product image" width="140px">
                    <input type="file" name="fileToUpload" style="width: 200px;margin-top: 10px;">
                    </div><br><br>  
                </div>  
                <div id = "divButtons">
                    <input  type="submit" id = "btAddPutProduct" value="Add / Edit product" style="width: 200px; height: 40px;">                   
                    <button id = "btCancelProduct" class = "buttonStyle"> Cancel </button>
                </div>
            </form>
