{% for product in prodList %}
    
    <div class="col-sm-4 col-lg-4 col-md-4 div-products">                          
        <div class="thumbnail product-thumbnail">
            <img src="data:image/png;base64,{{product.picture}}" alt="product image" width="100px">
            <div class="caption">
                <h4 class="pull-right">$ {{ product.price }}</h4>
                <h4><a href="/product/{{product.productID}}">{{ product.name }}</a>
                </h4>
                <p>{{ product.description }}</p>
            </div>
            <div class="ratings">
                <p class="pull-right">{{product.totalReviews}} reviews</p>
                <p>
                    {% if product.average < 1 %}
                    {% else %}
                        {% for i in range(1, product.average ) %}
                            <span class="glyphicon glyphicon-star" id="star-full"></span>
                        {% endfor %}
                    {% endif %}
                    {% set t = (5 - product.average) %}
                    {% if product.average > 4 %}
                    {% else %}
                        {% for s in range(1, t) %}
                            <span class="glyphicon glyphicon-star-empty" id="star-empty"></span>
                        {% endfor %}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
{% endfor %}
