{% extends "master.html.twig" %}

{% block title %} E-Shop{% endblock %}
{% block head %}   
    <!-- Custom CSS -->
    <link href="../bootstrap/css/shop-homepage.css" rel="stylesheet">
{% endblock %}

{% block content %}

    <!-- Page Content -->
    <div class="container">


        <div class="col-md-9" style="width:100%; margin-bottom:50px;">



            <div class="col-md-12">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="slide-image" src="http://placehold.it/800x300" alt="">
                        </div>
                        {% for recentProduct in recentProductsList %}
                        <div class="item">
                            <img class="slide-image" src="data:image/png;base64,{{recentProduct.picture}}" alt="">
                        </div>
                        {% endfor %}
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-md-3 myClass" style="height:800px">
                <p class="lead">Categories</p>
                <div class="list-group">
                    {% for category in categoryList %}
                        <button class="list-group-item">{{ category.name }}</button>
                    {% endfor %}
                </div>
            </div>

            <div class="row">
                {% for product in prodList %}
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="data:image/png;base64,{{product.picture}}" alt="product image" width="100px">
                            <div class="caption">
                                <h4 class="pull-right">{{ product.price }}</h4>
                                <h4><a href="#">{{ product.name_EN }}</a>
                                </h4>
                                <p>{{ product.description_EN }}</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">{{ product.average }} reviews</p>
                                <p>
                                    {% set k = product.average %}
                                    {% for i in range(1, k) %}
                                    <span class="glyphicon glyphicon-star" id="star-full"></span>
                                    {% endfor %}
                                    {% set t = (5 - product.average) %}
                                    {% for s in range(1, t) %}
                                    <span class="glyphicon glyphicon-star-empty" id="star-empty"></span>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}