{% extends "master.html.twig" %}

{% block title %} {{ "home"|trans }} {% endblock %}
{% block head %}   
     <!-- Bootstrap Core CSS -->
        <link href="../../bootstrap/css/shop-item.css" rel="stylesheet">
        

     <!-- jQuery -->
    <script src="../../js/product_script.js"></script>

{% endblock %}


{% block content %}
{% if product %}
    
<ul>
    <li><a href="?lang=en_US">English</a></li>
    <li><a href="?lang=fr_CA">Francais</a></li> 
     <li><a href="/product/{{product.ID}}/en">English</a></li>
     <li><a href="/product/{{product.ID}}/fr">Francais</a></li>
</ul>
    <div class="container">
        <span id="productID" visibility="hidden">{{product.ID}}</span>
        <div class="row">

          
            <div class="col-md-9">

                <div class="thumbnail">

                    <img class="img-responsive productPageImage" src="data:image/png;base64,{{product.picture}}" alt="product image" width="200px">
                    <div class="caption-full">
                        <h4 id="productPrice" class="pull-right">${{product.price}}</h4>
                        <h4>{{product.name_EN}}</h4>
                        <p>{{product.description_EN}}</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right" id="reviewCount">{{reviewCount}} {{ "reviews"|trans }}</p>
                        <p id="averageStars">{{ratingAverage}}</p>
                            
                        
                    </div>
                </div>

                <div class="well">

                    <div class="text-right">
                        <a class="btn btn-success">Leave a Review</a>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">10 days ago</span>
                            <p>This product was great in terms of quality. I would definitely buy another!</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">12 days ago</span>
                            <p>I've alredy ordered another one!</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">15 days ago</span>
                            <p>I've seen some better than this, but not at this price. I definitely recommend this item.</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

{% else %}
    <h1>Product not found. <a href="\">Click to continue</a></h1>
{% endif %}
  {% endblock %}  