{% extends "master.html.twig" %}

{% block title %} Page add/edit product{% endblock %}
{% block head %} <script src="/js/product_addedit.js"></script>{% endblock %}

{% block content %}
    <div id="container-addedit_product">
        <div id="top-side-addedit">
            <div class = "scrolltable">
                <table>
                    <tr id = "headRow">
                        <th> Image </th>
                        <th> ID </th>
                        <th> Name </th>
                        <th> Category </th>
                        <th> Price </th>
                        <th> Nutr_Value </th>
                        <th> IsVeget </th>
                        <th> Slugname </th>
                        <th class = "descriptionRow"> Description </th>
                    </tr>
                </table>
                <div class = "body">
                    <table id = "tbProducts">
                        {% set catName = prodTable[0].categoryName %} 
                        <tr class = "categoryRow">
                            <td colspan = "10">{{catName}} </td>
                        </tr> 
                        {% for product in prodTable %} 
                            {% if(catName == product.categoryName)%}
                                <tr class = "productHeight">
                                    <td> <img src = "data:image/png;base64,{{product.picture}}" alt = "product image" width = "100px"> <br> <br>
                                        <button <button id = "{{product.ID}}" class = "btEdit"> Edit </button></td>
                                    <td id = "{{product.ID}}" class = "tdID">{{product.ID}} </td>
                                    <td>{{product.name}} </td>
                                    <td>{{product.categoryName}} </td>
                                    <td>{{product.price}} </td>
                                    <td>{{product.nutritionalValue}} </td>
                                    <td>{{product.isVegetarian}} </td>
                                    <td>{{product.slugname}} </td>
                                    <td class = "descriptionRow">{{product.description}} </td>
                                </tr>
                            {% else %}
                                {% set catName = product.categoryName %} 
                                <tr class = "categoryRow">
                                    <td colspan = "10">{{catName}} </td>
                                </tr>
                                <tr class = "productHeight">
                                    <td> <img src = "data:image/png;base64,{{product.picture}}" alt = "product image" width = "100px"> <br> <br>
                                        <button id = "{{product.ID}}" class = "btEdit"> Edit </button></td>
                                    <td class = "tdID">{{product.ID}} </td>
                                    <td>{{product.name}} </td>
                                    <td>{{product.categoryName}} </td>
                                    <td>{{product.price}} </td>
                                    <td>{{product.nutritionalValue}} </td>
                                    <td>{{product.isVegetarian}} </td>
                                    <td>{{product.slugname}} </td>
                                    <td class = "descriptionRow">{{product.description}} </td>
                                </tr>
                            {% endif %}                            
                        {% endfor %} 
                    </table>
                </div> 
            </div>
        </div>
        <div id = "bottom-side-addedit">


        </div>  
    </div> 
{% endblock %}
