{% for product in prodTable %} 
    <table>
        <tr><th>ID</th><th>Lang</th><th>Name</th><th>Category</th><th>Price</th><th>Nutr_Value</th>IsVeget<th>Slugname</th><th>Description</th><th>Image</th></tr>
        <tr><td>{{product.ID}}</td><td>{{product.lang}}</td><td>{{product.name}}</td><td>{{product.categoryName}}</td><td>{{product.price}}</td><td>{{product.nutritionalValue}}</td>{{product.isVegetarian}}<td>{{product.slugname}}</td><td>{{product.description}}</td><td><img src="data:image/png;base64,{{product.picture}}" alt="product image" width="100px"></td></tr>
    </table>
{% endfor %}
