{% extends "master.html.twig" %}


{% block title %} Page add/edit product{% endblock %}
{% block head %}{% endblock %}

{% block content %}
    <div content_viewOrders>
            <div class = "scrolltable">
                <table>
                    <tr id = "headRow">
                        <th> Nr </th>
                        <th> Order date </th>
                        <th> Order amount </th>
                        <th> Delivery Date </th>
                        <th> Amount Paid</th>
                    </tr>
                </table>
                <div class = "body">
                    <table id = "tbOrders">
                        {% for order in orderList %} 
                                <tr>
                                    <td id = "{{order.orderID}}">{{order.orderID}} </td>
                                    <td>{{order.orderDate}}</td>
                                    <td>{{order.orderAmount}} </td>
                                    <td>{{order.deliveryDate}} </td>
                                    <td>{{order.deliveryAmount}} </td>
                                </tr>                         
                        {% endfor %} 
                    </table>
                </div> 
            </div>     
    </div>
    
     <script src="/js/_script.js"></script>
{% endblock %}

