{% extends "master.html.twig" %}


{% block title %} View orders{% endblock %}
{% block head %}{% endblock %}

{% block content %}
    <div id="content_viewOrders">
        <table id="tbOrders" style="border: 1px solid black;margin:30px 0 0 20px;">
            <tr style="height:30px;background-color:#025274;color:white;">
                <th> Nr </th>
                <th> Order date </th>
                <th> Order amount </th>
                <th> Delivery Date </th>
                <th> Amount Paid</th>
                <th></th>
                <th></th>
            </tr>
            {% for order in orderList %} 
                <tr>
                    <td>{{order.orderID}}</td>
                    <td>{{order.orderDate}}</td>
                    <td>{{order.orderAmount}}</td>
                    <td><input type="text" name="deliveryDate" value="{{order.deliveryDate}}" style="color:blue;"></td>
                    <td><input type="text" name="deliveryAmount" value="$ {{order.deliveryAmount}}" style="text-align: right;color:red;"></td>
                    <td id="btSave" style="width:100px;"><button id = "{{order.orderID}}" style="width:100px;">Save</button></td>
                    <td><button style="width:100px;">Details</button></td>
                </tr>                         
            {% endfor %} 
        </table>
    </div> 

<script src="/js/orders_view.js"></script>

{% endblock %}

